<template>
  <div>
    {{ chartData.labels }}
    <div>
      {{ reports }}
    </div>
    <div>
      {{ xLabels }}
    </div>
    <div>
      <line-chart :chartData="chartData" :options="chartOptions" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import lineChart from '~/components/lineChart'

const d = {
  dataSet1: Array.from(
    { length: 8 },
    () => Math.floor(Math.random() * 590) + 10
  ),
  dataSet2: Array.from(
    { length: 8 },
    () => Math.floor(Math.random() * 590) + 10
  )
}

export default {
  components: {
    lineChart
  },
  data() {
    return {
      dates: ['2019-09-10', '2019-09-20'],
      chartData: {
        labels: [],
        datasets: [
          {
            type: 'bar',
            label: 'School 1',
            data: d.dataSet1,
            backgroundColor: 'rgba(20,200,10,0.4)',
            borderColor: 'rgba(20,200,10,0.4)',
            fill: false
          },
          {
            type: 'bar',
            label: 'School 2',
            data: d.dataSet2,
            backgroundColor: 'rgba(100,189,200,0.4)',
            borderColor: 'rgba(100,189,200,0.4)',
            fill: false
          }
        ]
      },
      chartOptions: {
        responsive: true,
        title: {
          display: true,
          text: 'Dashboard'
        },
        scales: {
          yAxis: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    }
  },
  computed: {
    ...mapState('dashboard', ['reports']),
    dateRangeText() {
      return this.dates.join(' ~ ')
    }
  },
  created() {
    this.getReports()
  },
  methods: {
    ...mapActions('dashboard', ['getReports'])
  }
}
</script>
